<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 #title>
  </h1>
      <div>
        <button  (click)="orderByProperty('name')"> Sort By Name</button>
        <button  (click)="orderByProperty('price')"> Sort By Price</button>

        <p>Current order type is: 
          <span *ngIf="sortByAscending"> Ascending</span>
          <span *ngIf="!sortByAscending"> Descending</span>
        </p>
    </div>

  <ul>
    <li *ngFor='let product of products | orderBy:sortByProperty:sortByAscending'>
      <app-product [item]='product' (productBuy)='onProductBuy($event)'></app-product>
    </li>
  </ul>
  <!--<div [coloring]="'red'">app name is {{appInfo.app}}</div>
  <div [coloring]="'blue'">app version is {{appInfo.ver}}</div>
  <div [coloring]="'green'">random sequence is {{generatedSequence}}</div>
  <div [coloring]="'yellow'">LocalStorage item value is {{localStorageItem}} </div>
  <div [coloring]="'grey'">Config - id : {{config.id}}, login : {{config.login}}, email : {{config.email}}</div>-->
</div>